input {
  & .error {
    border: red;
  }
}

.register-btn {
  background: #4486ce;
  width: 100%;
  border-radius: 3px;
  transition: all 0.2s ease;

  & :hover {
    background: #559be8;
  }
}
.register-btn :hover {
  background: #559be8;
}